<h1>Event Prices!</h1>
<div class="event-tickets">
  <ng-container *ngIf="control$ | async as control">
    <div class="event-tickets__event-select">
      <label for="event-selection">Select an Event: </label>
      <select
        id="event-selection"
        [ngModel]="control.selectedEvent"
        (change)="selectEvent($event)"
      >
        <option value="Chili Cook Off">Chili Cook Off</option>
        <option value="Grammar Rodeo">Grammar Rodeo</option>
        <option value="Itchy And Scratchy Movie">
          Itchy And Scratchy Movie
        </option>
      </select>
    </div>
    <div class="event-tickets__qty">
      <label for="qty">Qty:</label>
      <input
        id="qty"
        type="number"
        (change)="setQty($event)"
        [ngModel]="control.qty"
      />
    </div>
    <ng-container *ngIf="priceInfo$ | async as priceInfo">
      <div class="event-tickets__price-info">
        <ng-container *ngIf="priceInfo.calculating; else showInfo">
          <span>Calculating ...</span>
        </ng-container>
        <ng-template #showInfo>
          <div>
            <b>Price Total: ${{ priceInfo.price }}</b>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </ng-container>
</div>
